.catalog {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    &__filter {
        width: 30%;
        background-color: $WhiteColor;
        margin-right: 10px;
    }

    &__list {
        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        margin-top: 0;
    }
}

.catalog-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &__container {
        display: flex;
    }

    .filter__btn {
        display: none;
        justify-content: center;
        align-items: center;
        background: $MainColor;
        padding: 10px;
        border-radius: 3px;

        a {
            color: $WhiteColor;
        }
    }

    &__info {
        h2 {
            font-size: 20px;
            font-weight: 700;
            padding: 5px 0;
        }

        span {
            font-size: 15px;
            color: $gray;
        }
    }

    &__sort {
        select {
            border: 1px solid $gray;
            border-radius: 3px;
            padding: 15px;
            padding-right: 40px;
            font-size: 15px;
            text-align: left;
            position: relative;
            display: inline-block;
            appearance: none;
            background-image: url(/src/icons/arrow-down.svg);
            background-position: right 12px center;
            background-repeat: no-repeat, repeat;
            background-size: 15px;
            max-width: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .catalog-head {
        flex-direction: column;

        &__container {
            padding-top: 10px;
            gap: 20px;

            .filter__btn {
                display: flex;
            }
        }
    }

    .filter {
        display: none;
    }

    .popup {
        .filter {
            display: block;
            margin-top: 10px;
        }
    }
}