.catalog {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    &__filter {
        width: 30%;
        background-color: $WhiteColor;
        margin-right: 10px;
    }

    &__list {
        section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        margin-top: 0;
    }
}

.catalog-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &__container {
        display: flex;
    }
    .filter__btn {
        display: none;
        justify-content: center;
        align-items: center;
        background: $MainColor;
        color: $WhiteColor;
        padding: 10px;
        border-radius: 3px;
    }

    &__info {
        h2 {
            font-size: 20px;
            font-weight: 700;
            padding: 5px 0;
        }

        span {
            font-size: 15px;
            color: $gray;
        }
    }

    &__sort {
        select {
            border: 1px solid $gray;
            border-radius: 3px;
            padding: 15px;
            padding-right: 40px;
            font-size: 15px;
            text-align: left;
            position: relative;
            display: inline-block;
            appearance: none;
            background-image: url(/src/icons/arrow-down.svg);
            background-position: right 12px center;
            background-repeat: no-repeat, repeat;
            background-size: 15px;
            max-width: 100%;
            width: 100%;
        }
    }
}

.filter {
    // .filter__body

    &__body {
    }

    &__type {
        padding: 10px;
        margin-bottom: 15px;
        padding-top: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    }

    // .filter__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        h2 {
            font-size: 18px;
            font-weight: 700;
            padding: 10px;
        }

        span {
            font-size: 10px;
            padding-right: 20px;
        }
    }

    // .filter__list

    &__list {
        padding: 0 10px 10px 10px;
    }

    // .filter__item

    &__item {
        display: flex;
        align-items: center;
        padding: 5px;

        input[type=checkbox] {
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: $lightGray;
            border: 1px solid $MainColor;
            border-radius: 6px;

            &:checked {
                background-image: url(/src/icons/CheckOutlined.svg);
                background-position: center;
                background-repeat: no-repeat, repeat;
                background-size: 15px;
            }
        }

        label {
            font-size: 17px;
            font-weight: 500;
            padding-left: 10px;
            color: $gray;
        }

        &:hover {
            label {
                color: $MainColor;
            }
        }
    }
}

@media (max-width: 425px) {
    .catalog-head {
        flex-direction: column;        
        &__container {
            padding-top: 10px;
            gap: 20px;
            
            .filter__btn {
                display: flex;
                cursor: pointer;
            }
        }
    }

    .filter {
        display: none;
    }
}