.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    &__top {
        background-color: $MainColor;
    }

    &__body {
        background-color: $MainWhiteColor;
    }

    &__catalog {
        background-color: $MainColor;
    }
}

//===============================================================================================================
.top-header {
    padding: 10px 40px;

    &__container {
        max-width: 1600px;
        min-height: 50px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__user {
        color: $WhiteColor;
        display: inline-flex;
        align-items: center;

        &::before {
            margin-right: 15px;
        }

        &:hover {
            color: $light-green;
        }
    }
}

.menu {
    &__body {}

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        gap: 60px;
    }

    &__item {}

    &__link {
        font-size: 16px;
        color: $WhiteColor;
        line-height: 20px;

        &:hover {
            color: $light-green;
        }
    }
}

//===============================================================================================================
.body-header {
    padding: 10px 40px;

    &__container {
        max-width: 1600px;
        width: 100%;
        max-height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    &__logo {
        height: 100px;
    }

    &__search {
        width: 100%;
    }

    &__location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__burger {
        display: none;
    }
}

.search-header {
    background-color: rgba(7, 7, 7, 0.03);
    border-radius: 3px;
    border: 1px solid rgba(4, 4, 4, 0.5);
    position: relative;
    z-index: 5;

    &__button {
        position: absolute;
        background-color: transparent;
        height: 41px;
        width: 41px;
        top: 0;
        left: 8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    &__input {
        background-color: transparent;
        border-radius: 3px;
        height: 40px;
        padding: 0px 20px 0px 50px;
        color: $MainColor;
        width: 100%;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.location-header {
    z-index: 5;
    width: 100%;

    &__link {
        color: rgba(0, 0, 0, 0.5);
        padding: 4px;
        font-size: 20px;

        &:hover {
            color: $MainColor;
        }
    }
}

.phone-header {
    z-index: 5;
    width: 100%;

    &__link {
        color: rgba(0, 0, 0, 0.5);
        padding: 2px;
        font-size: 20px;

        &:hover {
            color: $MainColor;
        }

        &::before {
            margin-right: 5px;
        }
    }
}

.cart-header {
    &__backet {
        color: $gray;
        font-size: 20px;

        &::before {
            padding: 0 10px;
        }
    }

    &__text {

        &:hover {
            color: $MainColor;
        }
    }
}

//===============================================================================================================
.catalog-header {
    padding: 10px 40px;

    &__container {
        max-width: 1600px;
        min-height: 50px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        align-items: center;
    }

    &__menu {}
}

.menu-catalog {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        min-height: 50px;
    }

    &__link {
        color: $WhiteColor;
        padding: 0 10px;

        &:hover {
            color: $light-green;
        }
    }
}

.pc {
    .menu-catalog__item:hover {
        .sub-menu {
            display: block;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    .header__mobile {
        display: none;
    }
}

.sub-menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    background-color: $MainColor;
    z-index: 5;

    &__list {
        padding: 10px 5px;
        text-align: center;
    }

    &__link {
        color: $WhiteColor;

        &:hover {
            color: $light-green;
        }
    }
}

.touch-device {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}