.news {
    &__title {
        @extend .product-cart__title;
    }

    &__grid {
        @extend .product-cart__grid;
    }
    
    &__list {
        margin-top: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cell {
        width: 25%;
        &__date {
            padding: 0 10px;
            font-size: 13px;
            color: $gray;
            font-weight: 700;
        }
        &__picture {
            padding: 10px 10px;
        }

        &__title {
            text-align: left;
        }
    }
}

@media (max-width: 767px) {
    .news__list {
        margin-top: 150px;
    }
}

@media (max-width: 425px) {
    .news__list {
        margin-top: 110px;
    }
}

