.product {

    // .product__header

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        // .product__header-title
        &-title {
            font-size: 24px;
            font-weight: 500;
        }

        // .product__header-id
        &-id {
            font-size: 14px;
            font-weight: 500;
            color: $gray;
        }
    }

    // .product__container

    &__container {
        display: flex;
    }

    // .product__info

    &__info {
        width: 100%;
    }

    &__status {
        text-align: center;
        padding: 15px;
        font-size: 18px;
        font-weight: 700;
        color: $light-green;
    }

    &__trade {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 10px;
        padding: 10px;

        &-price {
            font-size: 24px;
            font-weight: 500;
        }

        .product-cart__btn {
            width: 20%;
            text-align: center;
        }
    }

    &__delivery {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 10px;
        padding: 10px;
    }

    &__garanty {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 10px;
        padding: 10px;

        span {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 25px;
        }
    }

    &__description {
        margin-top: 15px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 10px;
        padding: 10px;
        font-size: 15px;

        p {
            margin-left: 10px;
        }
    }
}

.delivery {

    // .delivery__item

    &__item {
        display: flex;
        font-size: 18px;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }

    span {
        font-size: 25px;
        margin-right: 10px;
    }

    &__item-type,
    &__item-time,
    &__item-price {
        width: 30%;
    }

    // .delivery__item-type

    &__item-type {}

    // .delivery__item-time

    &__item-time {
        font-weight: 500;
    }

    // .delivery__item-price

    &__item-price {
        font-weight: 500;
        color: $light-green;
        text-align: right;
    }
}


@media (max-width: 1440px) {
    .product {
        margin: 0 20px;

        &__trade {
            flex-direction: column;
            gap: 20px;

            .product-cart__btn {
                width: 100%;
            }

            a {
                padding: 0 20px;
            }
        }

        &__delivery-item {
            font-size: 16px;
        }
    }
}

@media (max-width: 1024px) {
    .product {

        &__delivery-item,
        &__garanty-info {
            font-size: 15px;
        }
    }

    .tab__description,
    .tab__comments {
        font-size: 15px;
    }

    .comments {
        &__header {
            span {
                font-size: 15px;
            }

            .rating {
                font-size: 28px;
            }
        }
    }

    .characteristics__item {
        dt {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .product__container {
        flex-wrap: wrap;
    }

    .tab__nav {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .product {
        &__header {
            flex-wrap: wrap;
            &-title {
                font-size: 18px;
                padding: 5px 0;
            }
        }
        &__delivery-item,
        &__garanty-info,
        &__description {    
            font-size: 13px;
        }
    }

    .tab__description,
    .tab__comments {
        font-size: 13px;
    }
}