.info {
        
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &:first-child {
        margin-top: 250px;
    }
    
    &__title {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: baseline;
        padding: 0 10px;
        margin-bottom: 10px;

        h2 {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $gray;
    }

    &__contacts {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    li {
        list-style: inside;
        font-size: 16px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .info:first-child {
        margin-top: 150px;
    }
}

@media (max-width: 425px) {
    .info:first-child {
            margin-top: 110px;        
    }
}