@media (min-width: 1024px) {

    //===============================================================================================================
    //HEADER
    .body-header {
        padding: 10px 30px;

        &__logo {
            height: 80px;
        }
    }

    .location-header {
        display: flex;
    }

    .cart-header__backet::before {
        font-size: 25px;
    }
}