@media (min-width: 1024px) {

    //===============================================================================================================
    //HEADER
    .body-header {
        padding: 10px 30px;

        &__logo {
            height: 80px;
        }
    }

    .location-header {
        display: flex;
    }

    .cart-header__backet::before {
        font-size: 25px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .location-header__link, .phone-header__link, .cart-header__text {
        font-size: 16px;
    }
}