.info {
    &:first-child {
        margin-top: 250px;
    }    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main {
    height: 100%;
}

@media (max-width: 425px) {
    .info:first-child {
            margin-top: 110px;        
    }
}

@media (max-width: 768px) {
    .info:first-child {
        margin-top: 150px;
    }
}