@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: relative;
  z-index: 100;
}
.header__top {
  background-color: #141414;
}
.header__body {
  background-color: #ECF1F2;
}
.header__catalog {
  background-color: #141414;
}

p {
  padding: 20px;
}

.top-header {
  padding: 10px 40px;
}
.top-header__container {
  max-width: 1400px;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__user {
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
}
.top-header__user::before {
  margin-right: 15px;
}
.top-header__user:hover {
  color: #00b96b;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  gap: 60px;
}
.menu__link {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
}
.menu__link:hover {
  color: #00b96b;
}

.body-header {
  padding: 10px 40px;
}
.body-header__container {
  max-width: 1400px;
  width: 100%;
  max-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.body-header__logo {
  height: 100px;
}
.body-header__search {
  width: 100%;
}
.body-header__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.body-header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-header__burger {
  display: none;
}

.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  position: relative;
  z-index: 5;
}
.search-header__button {
  position: absolute;
  background-color: transparent;
  height: 41px;
  width: 41px;
  top: 0;
  left: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.search-header__input {
  background-color: transparent;
  border-radius: 3px;
  height: 40px;
  padding: 0px 20px 0px 50px;
  color: #141414;
}
.search-header__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.location-header {
  z-index: 5;
  width: 100%;
}
.location-header__link {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.phone-header {
  z-index: 5;
  width: 100%;
}
.phone-header__link {
  color: rgba(0, 0, 0, 0.5);
  padding: 2px;
}

.cart-header__backet {
  background-color: transparent;
}
.cart-header__backet::before {
  font-size: 18px;
  padding: 0 10px;
}
.cart-header__text {
  color: #141414;
}

.catalog-header {
  padding: 10px 40px;
}
.catalog-header__container {
  max-width: 1400px;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}
.menu-catalog__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  width: 100%;
}
.menu-catalog__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 50px;
}
.menu-catalog__link {
  color: #FFFFFF;
  padding: 0 10px;
}
.menu-catalog__link:hover {
  color: #00b96b;
}

.pc .menu-catalog__item:hover .sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sub-menu {
  flex-direction: column;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  background-color: #141414;
  z-index: 5;
}
.sub-menu__list {
  padding: 10px 5px;
  text-align: center;
}
.sub-menu__link {
  color: #FFFFFF;
}
.sub-menu__link:hover {
  color: #00b96b;
}

.touch-device {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 1024px) {
  .body-header {
    padding: 10px 30px;
  }
  .body-header__logo {
    height: 80px;
  }

  .location-header {
    display: flex;
  }

  .cart-header__backet::before {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .body-header {
    padding: 10px 20px;
  }
  .body-header__logo {
    height: 60px;
  }

  .location-header {
    display: none;
  }

  .phone-header {
    display: flex;
  }

  .top-header__text {
    display: none;
  }

  .top-header__user::before {
    font-size: 25px;
  }

  .cart-header__backet::before {
    font-size: 25px;
  }

  .menu-catalog__link {
    padding: 0px;
  }

  .touch .arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFFFFF;
  }
  .touch .subActive .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 3%);
  }
  .touch .subActive .arrow {
    transform: rotate(-180deg);
  }
}
@media (max-width: 767px) {
  .header__top {
    display: none;
  }

  .body-header {
    padding: 10px 10px;
  }
  .body-header__logo {
    position: relative;
    z-index: 5;
    height: 40px;
  }
  .body-header::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 62px;
    background-color: inherit;
    z-index: 2;
  }
  .phone-header {
    display: none;
  }

  .location-header {
    display: none;
  }

  .cart-header {
    display: none;
  }

  .burger-menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 10px;
  }
  .burger-menu span, .burger-menu::before, .burger-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #141414;
  }
  .burger-menu::before, .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .catalog-header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .burgerActive {
    left: 0;
  }
  .burgerActive > span {
    transform: scale(0) translate(0px, -50%);
  }
  .burgerActive::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burgerActive::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu-catalog__item {
    width: 100%;
    margin: 0px 0px 30px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .menu-catalog__item:last-child {
    margin-bottom: 0;
  }
  .menu-catalog__link {
    font-size: 24px;
  }
  .menu-catalog .subActive {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 3%);
  }
  .menu-catalog .sub-menu {
    position: relative;
    background-color: #FFFFFF;
    flex: 1 1 100%;
    display: none;
    margin: 20px 0px 0px 10px;
  }
  .menu-catalog .sub-menu__list {
    text-align: left;
  }
  .menu-catalog .sub-menu__link {
    font-size: 20px;
    color: #141414;
  }

  .arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FFFFFF;
  }

  .subActive .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .subActive .sub-menu__link {
    font-size: 20px;
    color: #141414;
  }
  .subActive .arrow {
    transform: rotate(-180deg);
  }

  .touch-device {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.lock {
  overflow: hidden;
}