@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}
.header__top {
  background-color: #141414;
}
.header__body {
  background-color: #ECF1F2;
}
.header__catalog {
  background-color: #141414;
}

.top-header {
  padding: 10px 40px;
}
.top-header__container {
  max-width: 1600px;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__user {
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
}
.top-header__user::before {
  margin-right: 15px;
}
.top-header__user:hover {
  color: #00b96b;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  gap: 60px;
}
.menu__link {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
}
.menu__link:hover {
  color: #00b96b;
}

.body-header {
  padding: 10px 40px;
}
.body-header__container {
  max-width: 1600px;
  width: 100%;
  max-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.body-header__logo {
  height: 100px;
}
.body-header__search {
  width: 100%;
}
.body-header__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.body-header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-header__burger {
  display: none;
}

.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  position: relative;
  z-index: 5;
}
.search-header__button {
  position: absolute;
  background-color: transparent;
  height: 41px;
  width: 41px;
  top: 0;
  left: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.search-header__input {
  background-color: transparent;
  border-radius: 3px;
  height: 40px;
  padding: 0px 20px 0px 50px;
  color: #141414;
  width: 100%;
}
.search-header__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.location-header {
  z-index: 5;
  width: 100%;
}
.location-header__link {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  font-size: 20px;
}
.location-header__link:hover {
  color: #141414;
}
.location-header__link::before {
  padding-right: 10px;
}
.location-header__link--contacts {
  font-size: 30px;
  font-weight: 700;
  color: #141414;
  margin: 15px;
}
.location-header__link--contacts:hover {
  color: #808080;
}

.phone-header {
  z-index: 5;
  width: 100%;
}
.phone-header__link {
  color: rgba(0, 0, 0, 0.5);
  padding: 2px;
  font-size: 20px;
}
.phone-header__link:hover {
  color: #141414;
}
.phone-header__link::before {
  margin-right: 5px;
}

.cart-header__backet {
  color: #808080;
  font-size: 20px;
}
.cart-header__backet::before {
  padding: 0 10px;
}
.cart-header__text:hover {
  color: #141414;
}

.catalog-header {
  padding: 10px 40px;
}
.catalog-header__container {
  max-width: 1600px;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  display: grid;
}
.menu-catalog__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  width: 100%;
}
.menu-catalog__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 50px;
}
.menu-catalog__link {
  color: #FFFFFF;
  padding: 0 10px;
}
.menu-catalog__link:hover {
  color: #00b96b;
}

.pc .menu-catalog__item:hover .sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.pc .header__mobile {
  display: none;
}

.sub-menu {
  flex-direction: column;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  background-color: #141414;
  z-index: 5;
}
.sub-menu__list {
  padding: 10px 5px;
  text-align: center;
}
.sub-menu__link {
  color: #FFFFFF;
}
.sub-menu__link:hover {
  color: #00b96b;
}

.touch-device {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.product-cart__title, .news__title {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 10px;
  align-items: baseline;
  padding: 0 10px;
}
.product-cart__title h2, .news__title h2 {
  font-size: 20px;
  font-weight: 700;
}
.product-cart__title h3, .news__title h3 {
  font-size: 15px;
  font-weight: 500;
}
.product-cart__title h3 a:hover, .news__title h3 a:hover {
  color: #00b96b;
}
.product-cart__grid, .news__grid {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.product-cart__btn {
  background-color: #E8AA31;
  color: #FFFFFF;
  height: 30px;
  border-radius: 10px;
}
.product-cart__btn:hover {
  background-color: #00b96b;
}
.product-cart__btn span {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.product-cart__btn span::before {
  margin-left: 16px;
}

.cell {
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cell__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cell__picture {
  text-align: center;
  padding: 15px;
  width: 100%;
}
.cell__title {
  margin: 10px 0;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;
}
.cell__title a:hover {
  color: #00b96b;
}
.cell__footer {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cell__price {
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 34px;
}
.cell__price h3 {
  font-weight: 500;
}
.cell__compare {
  font-size: 24px;
}
.cell__compare:hover {
  color: #E8AA31;
}
.cell__favourite {
  font-size: 24px;
}
.cell__favourite:hover {
  color: #E8AA31;
}

.news__list .cell__inner {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
}

.news__list {
  margin-top: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.news .cell {
  width: 25%;
}
.news .cell__date {
  padding: 0 10px;
  font-size: 13px;
  color: #808080;
  font-weight: 700;
}
.news .cell__picture {
  padding: 10px 10px;
}

@media (max-width: 767px) {
  .news__list {
    margin-top: 150px;
  }
}
@media (max-width: 425px) {
  .news__list {
    margin-top: 110px;
  }
}
.footer {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
}
.footer__top {
  display: flex;
  gap: 20px;
}
.footer__col {
  width: 33.3%;
  margin: 0 10px;
}
.footer__title {
  padding: 0 0 10px 10px;
}
.footer__title h2 {
  font-size: 20px;
  font-weight: 700;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__nav a {
  color: #808080;
  padding: 10px;
}
.footer__nav a:first-child {
  padding-top: 0;
}
.footer__nav a:hover {
  color: #141414;
  font-weight: 500;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
}
.footer__contacts a {
  padding: 10px 0;
  font-size: 16px;
}
.footer__contacts a:first-child {
  padding-top: 0;
}
.footer__contacts a:last-child {
  padding-bottom: 0;
}
.footer__social {
  display: flex;
  font-size: 40px;
  margin-top: 10px;
}
.footer__social a {
  color: #808080;
  padding: 10px;
}
.footer__social a:hover {
  transition: all 0.3s ease-in-out;
}
.footer__social a:hover:first-child {
  color: #ff9900;
}
.footer__social a:hover:nth-child(2) {
  color: #244694;
}
.footer__social a:hover:nth-child(3) {
  color: #38a6db;
}

.info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.info:first-child {
  margin-top: 250px;
}
.info__title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
  padding: 0 10px;
  margin-bottom: 10px;
}
.info__title h2 {
  font-size: 20px;
  font-weight: 700;
}
.info__contacts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  grid-gap: 21px 21px;
  padding-top: 20px;
}
.info__link {
  display: flex;
  align-items: center;
  color: #808080;
  margin: 0 20px 10px 0;
  font-size: 20px;
}
.info__link::before {
  margin-right: 10px;
}
.info li {
  list-style: inside;
  font-size: 16px;
  padding: 5px;
}

@media (max-width: 767px) {
  .info:first-child {
    margin-top: 150px;
  }
}
@media (max-width: 425px) {
  .info__contacts {
    display: flex;
    flex-direction: column;
  }
  .info:first-child {
    margin-top: 110px;
  }
  .location-header__link--contacts {
    font-size: 18px;
    font-weight: 700;
  }
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin: 10px;
}
.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}
@media (min-width: 1024px) {
  .body-header {
    padding: 10px 30px;
  }
  .body-header__logo {
    height: 80px;
  }
  .location-header {
    display: flex;
  }
  .cart-header__backet::before {
    font-size: 25px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .location-header__link, .phone-header__link, .cart-header__text {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .body-header {
    padding: 10px 20px;
  }
  .body-header__logo {
    height: 60px;
  }
  .location-header {
    display: none;
  }
  .phone-header {
    display: flex;
  }
  .top-header__text {
    display: none;
  }
  .top-header__user::before {
    font-size: 25px;
  }
  .cart-header__backet::before {
    font-size: 25px;
  }
  .menu-catalog__link {
    padding: 0px;
  }
  .touch .arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFFFFF;
  }
  .touch .subActive .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 3%);
  }
  .touch .subActive .arrow {
    transform: rotate(-180deg);
  }
}
@media (max-width: 767px) {
  .header__top, .header__body, .header__catalog {
    display: none;
  }
  .mobile-header {
    background-color: #ECF1F2;
    position: fixed;
    width: 100%;
  }
  .mobile-header__container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .mobile-header a {
    width: 33.3%;
    color: #141414;
    font-size: 20px;
  }
  .mobile-header img {
    width: 50%;
    height: 100%;
  }
  .mobile-header .body-header__search {
    width: 100%;
    padding: 10px;
  }
  .burger-menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }
  .burger-menu span, .burger-menu::before, .burger-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #141414;
  }
  .burger-menu::before, .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .catalog-header {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 110px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .burgerActive {
    left: 0;
  }
  .burgerActive > span {
    transform: scale(0) translate(0px, -50%);
  }
  .burgerActive::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burgerActive::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu-catalog__item {
    width: 100%;
    margin: 0px 0px 30px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .menu-catalog__item:last-child {
    margin-bottom: 0;
  }
  .menu-catalog__link {
    font-size: 24px;
  }
  .menu-catalog .subActive {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 3%);
  }
  .menu-catalog .sub-menu {
    position: relative;
    background-color: #FFFFFF;
    flex: 1 1 100%;
    display: none;
    margin: 20px 0px 0px 10px;
    border-radius: 10px;
  }
  .menu-catalog .sub-menu__list {
    text-align: left;
  }
  .menu-catalog .sub-menu__link {
    font-size: 20px;
    color: #141414;
  }
  .arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FFFFFF;
  }
  .subActive .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .subActive .sub-menu__link {
    font-size: 20px;
    color: #141414;
  }
  .subActive .arrow {
    transform: rotate(-180deg);
  }
  .touch-device {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .product-cart__title, .news__title {
    margin-top: 30px;
  }
  .product-cart__grid, .news__grid {
    margin-top: 20px;
  }
  .news__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #button {
    bottom: 50px !important;
    right: 0 !important;
  }
}
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  #button {
    bottom: 50px !important;
  }
  .mobile-header a {
    font-size: 25px;
  }
  .top-header__text, .cart-header__text {
    display: none;
  }
  .product-cart__title h2, .news__title h2 {
    font-size: 14px;
  }
  .product-cart__title h3, .news__title h3 {
    font-size: 12px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__col {
    width: 100%;
    margin: 0;
  }
  .footer__title :first-child {
    margin-top: 5px;
  }
  .footer__contacts a {
    font-size: 16px;
  }
  .news__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .footer__top {
    flex-direction: column;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.lock {
  overflow: hidden;
}

.created {
  font-size: 12px;
  text-align: center;
}